.hero {
  background: linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.6)
    ),
    url('/images/fitness.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 14px;
  padding: 60px 30px;
  color: white;
  text-align: center;
  margin: 30px;
}

.hero h1 {
  font-size: 2.4rem;
}

.hero p {
  font-size: 1.1rem;
  opacity: 0.9;
}


.custom-jumbotron {
    background-color: #f8f9fa; /* Light gray background */
    padding: 3rem 1rem; /* Similar to Jumbotron padding */
    border-radius: 0.3rem; /* Rounded corners */
    text-align: center; /* Center text */
    margin-top: 2rem; /* Space at the top */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
  }
  
  .custom-jumbotron h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .custom-jumbotron p {
    font-size: 1.25rem;
    color: #6c757d; /* Muted text color */
  }
  .Home-page {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .welcome-section {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 30px;
  }
  .card-title-custom {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .card-text-custom {
    font-size: 1.2rem;
    color: #6c757d;
    padding-bottom: 100px;
  }
  